<!-- intro module -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/images/book1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                height="500" loading="lazy" id="frontImg">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Biggest Online Bookstore</h1>
            <p class="lead">Join 100,321 Happy readers And Get Access To Our Entire Collection Of 1000 ebooks For
                The Price Of One. We offer a 45 Day Money Back Guarantee, so joining is risk-free!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a routerLink="/books/#bestSellingBooks">
                    <button type="button" class="btn btn-outline-primary btn-lg px-4">Shop Now</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- adding arrow image -->
<div class="container " id="arrow">
    <img src="assets/images/left-arrow.png" alt="">
</div>